* {
    padding: 0;
    margin: 0;

}

.overlay {
    height: 100%;
    width: 0;
    background-color: rgb(35, 34, 36);
    transition: 0.5s;
    position: fixed;
    color: #fff;
    cursor: pointer;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
}

.overlay-content {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    position: relative;
    top: 30%;
}

.overlay a {
    padding: 16px;
    text-decoration: none;
    font-size: 36px;
    color: blueviolet;
    transition: 0.3s;
    display: block;
}

.overlay a:hover, .overlay a:focus {
    color: aqua;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;

    }
    
    .overlay .closebtn {
        top: 15px;
        right: 35px;
        font-size: 40px;
    }
}